@media only screen and (max-width: 600px) {
    .nav-container{
        flex-direction: column;
        padding-top: 8px;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
    }
}