@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.header-section{
    background-color: blueviolet;
    width: 100%;
}
.nav-container{
    display: flex;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
}
.image-container{
    display: flex;
    height: 60px;
    align-items: center;
    width: 50%;
   
}
.image-container p{
    font-size: 1.5rem;
}
.text-container{
    width: 50%;
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.image-container span{
    color: pink;
}
.image-container img{
    height: 100%;
}
.nav-container a, button{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.nav-container button{
    padding: 7px 15px;
    color: black;
    font-size: 18px;
    background-color: pink;
    border: 0;
}

/* banner section style here */

.section-container{
    /* border: 2px solid green; */
    min-height: 300px;
    display: flex;
    max-width: 1600px;
    margin: 30px auto;
    background-color: #e9e6eb;
    border-radius: 10px;
}
.section-container .banner-text-container{
    /* border: 2px solid black; */
    width: 50%;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
}
.banner-text-container h1,p,span{
    font-size: 2rem;
}
.banner-text-container h1{
    background: linear-gradient(45deg,pink, blueviolet);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    
}
.banner-text-container span{
    margin-right: 10px;
}
.banner-text-container p{
    font-family: "Dancing Script", serif;
    font-size: 3rem;
}
.banner-text-container button{
    padding: 8px 16px;
    border: 2px solid pink;
    color: black;
    font-size: 1rem;
    background-color: transparent;
    margin-top: 10px;
}
.section-container .banner-img-container{
    /* border: 2px solid blue; */
    width: 50%;
    min-height: 300px;
    padding: 20px;
    position: relative;
}
.banner-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}
.banner-img-container .discount{
    background-color: rgb(128, 128, 16);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 75%;
    left: 65%;
}

/* products style here */

.product-section .section-titles{
    text-align: center;
    /* border: 2px solid green; */
    margin-bottom: 30px;
}

.grid-section-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.grid-container .grid-items{
    /* border: 2px solid blue; */
    background-color: #ece7e1;
    padding: 20px;
}
.text-containers{
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}

.grid-section-container .grid-items{
        border-radius: 10px;
    }
.text-containers .span-icon{
    /* border: 2px solid green; */
    display: flex;
    justify-content: end;
    gap: 10px;
}
.text-containers .span-icon i{
    background-color: #e893cf;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
}
.grid-items p{
    font-size: 1rem;
    margin-bottom: 15px;
}
.grid-items button{
    padding: 7px 15px;
    color: black;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid pink;
    margin-left: 0;
}
.grid-items .images-container{
    
    text-align: center;
}

.flex-wrap{
    max-width: 1600px;
    /* border: 2px solid blue; */
    margin: 0 auto;
}

.flex-wrap .flex-images-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
    /* border: 2px solid green; */
    align-items: center;
}
.flex-images-container img{
    flex-basis: 450px;
    
    /* border: 2px solid blue; */
}

/* footer style here */

.footer-container{
    min-height: 200px;
    background-color: blueviolet;
    margin-top: 30px;
    
}
.footer-container .image-containers{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    /* border: 2px solid green; */
   
}
.image-containers img{
    /* border: 2px solid green; */
    width: 90px;
    height: 80px;
}